body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.background-slider {
  position: absolute;
  background-image: url("images/background-slider/background-image-1.webp");
  background-position: center;
  background-size: cover;
  inset: 0;
  animation: background-slider 20s infinite;
  &__images-preloader {
    animation: background-images-preloader 1s linear;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__signature {
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
  }
}


@keyframes background-images-preloader {
  0% {background-image: url("images/background-slider/background-image-1.webp")}
  25% {background-image: url("images/background-slider/background-image-2.webp")}
  50% {background-image: url("images/background-slider/background-image-3.webp")}
  75% {background-image: url("images/background-slider/background-image-4.webp")}
}

@keyframes background-slider  {
  0% {background-image: url("images/background-slider/background-image-1.webp")}
  20% {background-image: url("images/background-slider/background-image-1.webp")}

  25% {background-image: url("images/background-slider/background-image-2.webp")}
  45% {background-image: url("images/background-slider/background-image-2.webp")}

  50% {background-image: url("images/background-slider/background-image-3.webp")}
  70% {background-image: url("images/background-slider/background-image-3.webp")}

  75% {background-image: url("images/background-slider/background-image-4.webp")}
  95% {background-image: url("images/background-slider/background-image-4.webp")}
}

h1.header-logo,
.header-menu__link,
.footer__signature {
  animation: change-text-color 20s infinite;
  color: white;
}

@keyframes change-text-color  {
  1% {color: white;} //white
  20% {color: white;} //white

  25% {color: white;} //white
  45% {color: white;} //white

  50% {color: black;} //black
  70% {color: black;} //black
  75% {color: black;}
  95% {color: black;}
  98% {color: white;}
}


header a::before {
  animation: change-underline-links-color 20s infinite;
  color: white;
}

@keyframes change-underline-links-color {
  1% {background-color: white;}
  20% {background-color: white;}

  25% {background-color: white;}
  45% {background-color: white;}

  50% {background-color: black;}
  70% {background-color: black;}
  75% {background-color: black;}
  95% {background-color: black;}
  98% {background-color: white;}
}