body {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.background-slider {
  position: absolute;
  background-image: url("images/background-slider/background-image-1.jpg");
  background-position: center;
  background-size: cover;
  inset: 0;
  animation: background-slider 20s infinite;
}

.background-slider__images-preloader {
  animation: background-images-preloader 1s linear;
}

@keyframes background-images-preloader {
  0% {background-image: url("images/background-slider/background-image-1.jpg")}
  25% {background-image: url("images/background-slider/background-image-2.jpg")}
  50% {background-image: url("images/background-slider/background-image-3.jpg")}
  75% {background-image: url("images/background-slider/background-image-4.jpg")}
}

@keyframes background-slider  {
  0% {background-image: url("images/background-slider/background-image-1.jpg")}
  20% {background-image: url("images/background-slider/background-image-1.jpg")}

  25% {background-image: url("images/background-slider/background-image-2.jpg")}
  45% {background-image: url("images/background-slider/background-image-2.jpg")}

  50% {background-image: url("images/background-slider/background-image-3.jpg")}
  70% {background-image: url("images/background-slider/background-image-3.jpg")}

  75% {background-image: url("images/background-slider/background-image-4.jpg")}
  95% {background-image: url("images/background-slider/background-image-4.jpg")}
}
