@font-face {
  font-family: 'Cormorant';
  src: url('fonts/cormorant/Cormorant-Bold.ttf'),
  url("fonts/cormorant/Cormorant-BoldItalic.ttf"),
  url("fonts/cormorant/Cormorant-Italic.ttf"),
  url("fonts/cormorant/Cormorant-Light.ttf"),
  url("fonts/cormorant/Cormorant-LightItalic.ttf"),
  url("fonts/cormorant/Cormorant-Medium.ttf"),
  url("fonts/cormorant/Cormorant-MediumItalic.ttf"),
  url("fonts/cormorant/Cormorant-Regular.ttf"),
  url("fonts/cormorant/Cormorant-SemiBold.ttf"),
  url("fonts/cormorant/Cormorant-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'PoiretOne';
  src: url('fonts/poiret-one/PoiretOne-Regular.ttf');
}