@font-face {
  font-family: 'Cormorant';
  src: url("fonts/cormorant/Cormorant-Bold.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-BoldItalic.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-Italic.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-Light.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-LightItalic.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-Medium.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-MediumItalic.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-Regular.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-SemiBold.ttf") format('ttf'),
  url("fonts/cormorant/Cormorant-SemiBoldItalic.ttf") format('ttf')
}

@font-face {
  font-family: 'PoiretOne';
  src: url("fonts/poiret-one/PoiretOne-Regular.ttf") format('ttf')
}