nav {
  font-family: $headerFontFamily;
  font-size: $headerFontSize;
  font-weight: 600;
}



h1.header-logo {
  font-weight: 700;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__signature {
    position: absolute;
    bottom: 1.6rem;
    left: 1.6rem;
  }
}

@media (max-width: 680px) {
  .header__inner,
  .header-menu {
    flex-wrap: wrap;
  }
}

