$headerFontFamily: Cormorant, serif;
$headerFontWeight: 700;
$headerFontSize: 1rem;

$bodyBackgroundColor: #ffffff;

$htmlFontFamily: Cormorant, serif;
$contentTextColor: #58697c; //#718096;

$previewsTitleTextColor: #000000;
$previewsTitleTextSize: 1.1rem;
$previewsTitleTextWeight: 500;