@import "styles/normalize.css";
@import "styles/variables";
@import "styles/fonts";
@import "styles/base-styles";
@import "styles/header-styles";
@import "styles/modificators";

.projects {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  &__filter {
    //border: 1px solid grey;
    min-width: 10rem;
  }
  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    justify-content: space-evenly;
    //border: 1px solid grey;
    min-height: fit-content;
    padding-bottom: 5rem;
  }
  &__catalog-item {
    position: relative;
    justify-self: center;
    align-self: start;
    max-width: 375px;
  }
  &__catalog-item-preview-picture {
    width: 100vw;
  }
  &__catalog-item-preview-img {
    width: 100%;
  }
  &__catalog-item-link {

  }
  &__catalog-item-link::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

@media (max-width: 1200px) {
  .projects {
    &__catalog {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 769px) {
  .projects {
    &__catalog {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 610px) {
  .projects {
    grid-template-columns: 1fr;
    height: fit-content;
    &__catalog {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}